body{
    background-color: black;
}
.imgBox{
    /* background-image: url(log.png); */
    
    position: relative;
    width: 145px;
    height: 145px;
}
img{
    width: 145px;
    height: 145px;
}
.whiteBox{
    width: 145px;
    height: 145px;
    background-color: white;
    margin: 5px;
    float: left;
}
.hide{
    display: none;
}