/* navigation */
.navbar{
    background-color:black;
    padding: 0px 0px;
    margin: 0px 0px;
}
.navbar ul{
    display: flex;
    overflow: auto;
    list-style: none;
    padding: 3px 15px
}
.navbar ul li{
    padding: 7px 16px;
    margin:4px -4px;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size:24px;
    
    
}
.navbar ul li input{
    margin-left: 440px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 5px 4px ;
    border: none;
    outline: none;
    
}
.navbar ul li .btn{
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 2px;
    padding: 5px 4px ;
    background-color:#0072ff;
    color: white;
    border: none;
    outline: none;
    
}
.navbar ul li .btn:hover{
    cursor: pointer;
    background-color: blue;
}

.full{
    width:600px;
    margin:auto;
    justify-content: center;
    padding: 0px 34px;

}

/* conatainer */
.container{
    border: 1px solid black;
    width:600px;
    margin:auto;
    justify-content: center;
    padding: 0px 34px;

}
.addbtn{
    border-radius: 2px;
    margin: 18px 0px;
    padding: 11px 14px ;
    background-color:#0072ff;
    color: white;
    border: none;
    outline: none;
}
.addbtn:hover{
    cursor: pointer;
    background-color: blue;
}
.notecard{
    
    /* display: block;
    flex-direction: column; */
    width: 229px;
    height: auto;
    border: 1px solid black;
    margin: 11px 11px ;
    padding: 6px 22px;
    /* overflow:auto; */
}
.notecard button{
    border-radius: 2px;
    padding: 11px 14px ;
    margin: 7px 0px ;
    background-color:#0072ff;
    color: white;
    border: none;
    outline: none;
}
#notes{
    display: flex;
    
    flex-wrap: wrap;
}